#gameContainer  {
    text-align: center;
}

#gameBoard  {
    border: 3px solid black;
}
#score  {
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}

#res  {
    font-family: cursive;
    font-size: 22px;
    width: 130px;
    height: 50px;
    border: 4px solid #000;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}